@import url(./reset.css);
@import url(./navigation.css);
@import url(./movies.css);

:root {
    --main-text-color: rgb(240, 240, 240);
    --hover-color: rgb(193, 193, 193);
}


body {
    position: relative;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #171717;
    /* background: rgb(0, 0, 0);
    background: linear-gradient(153deg, rgba(0, 0, 0, 1) 0%, rgba(41, 0, 0, 1) 66%); */
}

/* .genre-title {
    font-size: 30px;
    padding: 5px;
    margin-bottom: 8px;
}

.wrapper {
    margin-top: 65px;
    width: 100%;
    position: relative;
}

.wrapper .courosel {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.courosel img {
    margin-left: 14px;
    height: 300px;
    object-fit: contain;
    pointer-events: none;
}

.courosel img:first-child {
    margin-left: 0;
}

.wrapper button {
    position: absolute;
    top: 50%;
    color: black;
    background: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 30px;
    line-height: 46px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper button:first-child {
    left: -23px;
}

.wrapper button:last-child {
    right: -23px;
} */