.category-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.category-container h2 {
    font-size: 3rem;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.category-container .slider {
    width: 88%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: left;
    gap: 10px;
    scroll-behavior: smooth;
    /* flex-direction: row; */
}

.category-container .slider .left {
    cursor: pointer;
    position: absolute;
    font-size: 4rem;
    border: 1px solid var(--main-text-color);
    padding: 3px;
    text-align: center;
    top: calc(50% - 2rem);
    left: 3px;
    background-color: rgba(0, 0, 0, 0.525);
    border-radius: 6px;
}

.category-container .slider .right {
    cursor: pointer;
    position: absolute;
    font-size: 4rem;
    border: 1px solid var(--main-text-color);
    padding: 3px;
    text-align: center;
    top: calc(50% - 2rem);
    right: 3px;
    background-color: rgba(0, 0, 0, 0.525);
    border-radius: 6px;
}

.category-container .slider .movie-container img {
    cursor: pointer;
    opacity: 80%;
    max-height: 300px;
    border-radius: 3px;
    transition: 200ms ease;
}

.category-container .slider .movie-container img:hover {
    max-height: 310px;
    opacity: 100%;
}

.category-container .slider .movie-container .movie-title {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}