.fav-titles {
    margin: 35px auto;
    background-image: url('../acets/background-fav.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 15px;
    border-radius: 8px;
}

.fav-titles>h1,
.fav-titles>h2 {
    text-align: center;
    margin-bottom: 35px;
}

.fav-titles .favorites {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 90%;
}

.fav-title .favorites .fav-list {
    max-width: 280px;
    object-fit: contain;
}

.fav-titles .favorites .fav-list .fav-img {
    margin: 5px;
    border-radius: 8px;
    overflow: hidden;
    margin: 0;
}

.fav-titles .favorites .fav-list .fav-title {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    white-space: pre-wrap;
    max-width: 280px;
    text-align: end;
}

.fav-titles .favorites .fav-over {
    width: 80%;
    margin: 0;
}

@media (min-width:319px) and (max-width: 769px) {
    .fav-titles {
        margin: 20px auto;
        padding: 0;
    }

    .fav-titles .favorites {
        margin: 5px auto;
        padding: 0;
        gap: 8px;
        width: 100%;
    }

    .fav-titles .fav-list {
        max-width: 220px;
        margin: 0 auto;
    }

    .fav-titles .favorites .fav-list .fav-img,
    .fav-titles .favorites .fav-list .fav-title {
        max-width: 220px;
    }
}