@import url(./reset.css);
@import url(./navigation.css);
@import url(./movies.css);
@import url(./search.css);
@import url(./details.css);
@import url(./person.css);
@import url(./videoContainer.css);
@import url('./mainMoviesSection.css');
@import url('./loader.css');


:root {
    --main-text-color: rgb(240, 240, 240);
    /* --hover-color: rgb(193, 193, 193); */
    --hover-color:#af4058;
}


body {
    position: relative;
    /* padding: 0 35px; */
    padding: 0 20px;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #171717;
    /* background: rgb(0, 0, 0);
    background: linear-gradient(153deg, rgba(0, 0, 0, 1) 0%, rgba(41, 0, 0, 1) 66%); */
}

.no-content {
    margin-top: 4rem;
    font-size: 1.2rem;
    text-align: center;
}