.main-navigation {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-navigation .user-navigation {
    width: 100%;
}

.main-navigation .user-navigation ul {
    display: flex;
    justify-content: end;
    gap: 16px;
}
.main-navigation .user-navigation ul a{
    padding: 9px 26px;
    border: 1px solid var(--main-text-color);
    border-radius: 4px;
    color: var(--main-text-color);
}

.main-navigation .logo {
    margin-bottom: 2rem;
    display: inherit;
    align-items: center;
    gap: 10px;
}

.main-navigation .logo img {
    margin: 0 auto;
    width: 60%;
}

.main-navigation .logo .title {
    /* font-size: 1.8rem; */
    font-weight: bold;
}

.main-navigation .links {
    display: inherit;
    align-items: center;
    justify-content: space-around;
    gap: calc(100vw / 3 / 3);
}

.main-navigation .links .link-href {
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: bold;

    color: var(--main-text-color);
    text-transform: uppercase;
    transition: all 200ms ease;
}

.main-navigation .links .link-href:hover {
    font-size: 1.8rem;
    color: var(--hover-color);
}

.main-navigation .links .link-href.active {
    font-size: 1.8rem;
    color: var(--hover-color);
}