.person-details {
    margin: 35px auto;
}

.person-details .main-info {
    background-image: url('../acets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    gap: 20px;
}

.person-details .main-info .profile-img {
    margin: auto 20px;
    max-width: 360px;
}

.person-details .main-info .profile-img img {
    border-radius: 8px;
}

.person-details .credits h2 {
    text-align: center;
}

.person-details .credits {
    margin: 35px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.person-details .credits img {
    padding: 6px;
    max-width: 85px;
    border-radius: 8px;
}

.person-details .credits .cast ul,
.person-details .credits .crew ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


@media (min-width:319px) and (max-width: 769px) {
    .person-details {
        margin: 15px auto;
      }
      .person-details .main-info {
        gap: 8px;
        flex-direction: column;
        padding: 8px;
      }
      .person-details .main-info .profile-img {
        margin: auto 5px;
        max-width: 240px;
      }
      .person-details .main-info .profile-img img {
        max-width: 240px;
      }
}