.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container form {
    margin-top: 1rem;
}

.search-container input,
.search-container .select-type-search {

    padding: 3px;
    width: 240px;
    height: 30px;
    color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    border-radius: 4px;
    background-color: transparent;
}

.search-container input:last-of-type {
    width: 100px;
}

.search-container .select-type-search {
    width: 200px;
}

.search-container option {
    background: transparent;
}

.search-container .search-results .search-summary {
    margin-top: 25px;
    font-size: 1.5rem;
}

 .btn-pagination-container {
   align-items: center;
}