.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.search-container  input {
    margin: 2rem auto;
    padding: 3px;
    width: 220px;
    height: 30px;
    color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    border-radius: 4px;
    background-color: transparent;
}
