.details-container .media {
    margin: 20px auto;
    max-width: 1130px;
    position: relative;
}

.details-container .media .videos .video-list #player {
    width: 560px;
    height: 300px;
}

.details-container .media .videos .slide-videos .video-list {
    scroll-behavior: smooth;
    overflow: hidden;
    padding: 0;
    display: flex;
    gap: 10px;
}

.details-container .right,
.details-container .left {
    padding: 16px 8px;
}

.details-container .right:hover,
.details-container .left:hover {
    padding: 20px 10px;
}

@media (min-width:319px) and (max-width: 640px) {

    .details-container .right,
    .details-container .left {
        padding: 10px 5px;
    }

    .details-container .right:hover,
    .details-container .left:hover {
        padding: 10px 5px;
    }
}