.details-container .videos {
    display: flex;
    margin: 25px auto;
    width: 100%;
    height: 340px;
}

.details-container .videos #player {
    margin: 15px auto;
    max-width: 640px;
    height: 340px;
}

.details-container .videos .key-list .play-btn {
    width: 25px;
}

.details-container .videos .key-list {
    margin: 15px auto;
    width: 640px;
    max-height: 340px;
    overflow-y: scroll;
}

.details-container .videos .key-list #key {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 5px;
}

.details-container .videos .key-list #key:hover {
    color: var(--hover-color);
}

@media (min-width:319px) and (max-width: 640px) {

    .details-container .videos {
        flex-wrap: wrap;
        height: fit-content;
    }

    .details-container .videos #player {
        width: 100%;
        height: 300px;
    }

    .details-container .videos .key-list {
        min-height: 150px;
        max-height: 240px;
    }
}

@media (min-width:641px) and (max-width: 1280px) {

    .details-container .videos #player {
        margin: 15px auto;
        width: 60vw;
        height: 280px;
    }

    .details-container .videos .key-list {
        width: 39vw;
        margin: 5px auto;
        padding: 10px;
    }
}

@media screen and (min-width:1281px) {
    .details-container .videos {
        height: fit-content;
    }

    .details-container .videos #player {
        width: 960px;
        height: 400px;
    }

    .details-container .videos .key-list {
        width: max-content;
        height: 400px;
    }

    .details-container .videos .key-list #key {
        padding: 7px;
        font-size: 1.2rem;
    }
}